<%= render "shared/header"%>

<div class="outer-content">
  <h2 class="post-title text-center", style="font-size:180%">ショップ情報の登録</h2>

  <div class="form-group inner-content">
    <%= render partial: 'form', locals: { user: @user, profile: @profile }%>
  </div>
</div>