    <div class="form-group">
      <%= form_with model: [post, comment], id: "new_comment" do |form| %>
        <%= form.text_area :text, class: "form-control input-lg col-lg-5", maxlength: "140", id: "js-new-comment-body" %><br>
        <%= form.submit "コメントを投稿する", class: "btn btn-primary btn-lg" %>
        <% end %>
  </div>