<%= render "shared/header"%>

<div class="wrapper" >
  <div class="container-fluid img-hidden">
    <img src="/images/hotimage.jpg" class="img-fluid">
  </div>
  <div class="index-message text-center">
    『<b>今売れてます</b>』ジャンルでは、現在店頭で売れているワインの情報をまとめています。<br>
    店頭販促や試飲メニューとして、今売るべきワインが揃っています。
  </div>

  <div class="container container-w">
    <div class="index-category">
      <div class="left"><span style="font-size:180%"><b>今売れてます  </b></span>のすべての投稿 </div>
    </div>

    <div class="row row-cols-3">
      <%= render partial: "card", locals: {posts: @posts} %>
    </div>
  </div>
</div>



<%= render "shared/footer"%>