<%= render "shared/header"%>

<div class="container outer-content">
  <h2 class="post-title text-center", style="font-size:180%">新規投稿</h2>
    <div class="form-group inner-content">
      <%= render partial: 'form', locals: {post: @post} %>
    </div>
</div>

<%= render "shared/footer"%>
