<%= render "shared/header"%>

<div class="wrapper" >
  <div class="container-fluid img-hidden">
    <img src="/images/nextimage.jpg" class="img-fluid">
  </div>
  <div class="index-message text-center">
    『次のシーズンで注力』ジャンルでは、1~3ヶ月後に販売強化を計画しているワインをまとめています。<br>
    仕入れの計画にお役立てください。
  </div>

  <div class="container container-w">
    <div class="index-category">
    <div class="left"><span style="font-size:180%"><b>次のシーズンで注力  </b></span>のすべての投稿 </div>
    </div>
    <div class="row row-cols-3">
      <%= render partial: "card", locals: {posts: @posts} %>
    </div>
  </div>
</div>

<%= render "shared/footer"%>
