<%= render "shared/header"%>

<div class="wrapper" >
  <div class="container-fluid img-hidden">
    <img src="/images/wanted.jpg" class="img-fluid">
  </div>
  <div class="index-message text-center">
  『探してます』ジャンルでは、多様な切り口でワインを探すための情報交換を目的としています。
  </div>

  <div class="container container-w">
    <div class="index-category">
      <div class="left"><span style="font-size:180%"><b>探してます  </b></span>のすべての投稿 </div>
    </div>

    <div class="row row-cols-3">
      <%= render partial: "card", locals: {posts: @posts} %>
    </div>
  </div>
</div>


<%= render "shared/footer"%>