      <div class="category bg-info">探してます</div>
     <% @posts.each do |post| %>
      <div class="post-index-item mb-20">
      <% if post.image.attached? %>
        <%= image_tag post.image, class: "index-img" %>
      <% else %>
        <img class="index-img" src="<%= "/images/test_sample.png" %>" alt="Index image cap">
      <% end %>
      <%= link_to(post.title, post_path(post.id)) %>
    </div>
    <% end %>