<%= render "shared/header"%>

<div class="wrapper" >
  <div class="container-fluid img-hidden">
    <img src="/images/wantedimage2.jpg" class="img-fluid">
  </div>
  <div class="index-message text-center">
  『<b>探してます</b>』ジャンルは、ワインを探すための情報交換を目的としています。<br>
  「商品名が分からない」「似たようなワインを探している」「仕入れについてアドバイスが欲しい」・・・など幅広い相談を受け付けています。
  </div>

  <div class="container container-w">
    <div class="index-category">
      <div class="left"><span style="font-size:180%"><b>探してます  </b></span>のすべての投稿 </div>
    </div>

    <div class="row row-cols-3">
      <%= render partial: "card", locals: {posts: @posts} %>
    </div>
  </div>
</div>


<%= render "shared/footer"%>