/*header*/

.navbar-brand {
  font-family: 'Itim', cursive;
}

/* post-index */

.card-text-margin {
  margin: 0 0 0.3em;

}

.app-title {
  font-family: 'Itim', cursive;
}

.img-hidden {
  height: 300px;
  overflow: hidden;
}


.container {
  margin-top: 80px;
  width: 100vw;
}

.container-w{
  margin-bottom: 80px
}

.index-img {
  width: 15vw;
  height: 25vh;
  object-fit: cover;
}

.index-category-link{
  text-decoration: none;
  color: gray;
}

.index-category {
  display: flex;
  justify-content: space-between;
}

/*post-show*/
.post-show-wrapper {
  margin-top: 20px;
}

.container-s{
  margin-top: 25px;
}

.post-show-img{
  width: 30vw;
  height: 50vh;
  object-fit: scale-down;
}

.detail-table {
  width: 100%;
}

.detail-item {
  width: 30%;
  background-color: rgba(247, 245, 245, 0.996);
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 70%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.action-box{
  width: 15%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.actions {
  display: flex;
  justify-content: space-around;
}

.comment-container {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}

.link-name {
  text-decoration: none;
  color: gray;
}

/*post-new*/
.outer-content{
  margin-top: 20px;
  text-align: center;
}
.inner-content{
  display: inline-block;
  text-align: left;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
  margin-top:10px;
}

.img-upload {
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  min-width: 250px;
}

.new-submit {
  margin: 20px 0;
  text-align: center;
}


/*profile-show*/
.profile-buttons {
  margin: 20px 0px;
}

.table-striped {
  margin-bottom: 20px;
}

.container-posts
{
  margin-bottom: 20px;
}

.profile-show-wrapper {
  margin-top: 20px;
}

/*likes*/
.post_likes {
  text-decoration: none;
  font-size: 180%;
  color: red;
}

.container-likes {
  text-align: center;
}

/*profile-show*/

.container-follow {
  margin-top: 20px;
}

.follow-title {
  margin-top: 20px;
}

.followers {
  text-decoration: none;
  color: gray;
}

/*footer*/

body {
  position: relative;
  padding-bottom: 20px;
  min-height: 100vh;
}

.footer {
  position: absolute;
  bottom: 0;
}